{% include base_path %}
<div class="header-custom-main">
  {% if site.github %}
  <div class="github-div">
    {% for githubsite in site.github %}
    <a href="{{ githubsite.url }}" target="_blank">
      <img src="{{ base_path }}/{{ githubsite.icon }}" width="42px" height="42px" alt="{{ githubsite.name }}">
    </a>
    {% endfor %}
  </div>
  {% endif %}
  <select class="select" name="version" onchange="window.open(this.value,'_self')">
    {% for version in site.versions %}
    {% assign isSelected = version.selected %}
    <option
      value="{% if site.deployurl %}{{ site.url }}{{ isSelected ? site.baseurl : version.url }}{% else %}{{ site.url }}{{ version.url }}{% endif %}"
      {% if isSelected %}selected{% endif %}>
      {{ version.title }}
    </option>
    {% endfor %}
  </select>
</div>